<div class="landing-page-container">

  <header class="landing-header">
    <h1 class="landing-header__text-logo">Robofight game</h1>
    <h2 class="landing-header__description">Solve tasks and fight against robots!</h2>
  </header>

  <main class="landing-main">
    <div class="screenshots-container">
      <div class="screenshot">
        <p class="screenshot__description">Duels...</p>
      </div>
      <div class="screenshot">
        <p class="screenshot__description">Spells...</p>
      </div>
      <div class="screenshot">
        <p class="screenshot__description">Tasks...</p>
      </div>

    </div>

    <a href="game" data-path class="start-button">Let's play!</a>


  </main>
  <footer class="landing-footer">
    <div class="game-info">
      <h2><a href="http://www.github.com/oleg291291">Author: Aleh Shchobau - github.com/oleg291291</a></h2>
      <h4><a href="http://www.freepik.com">Characters designed by Freepik</a></h4>
    </div>
  </footer>

</div>