<div class="task-container">
    <div class="task">
        <h3 class="task__brief">task name</h3>
        <div class="task__description"></div>
        <ul id="sortable" class="task__sortable-list"></ul>
        <button class="task__voice-button">Play</button>
        <form action="" class="task__form">
            <input class="task__answer" type="text">
            <input class="task__submit" type="submit" value="Check">
            <ul id="sortable" class="task__sortable-list">
            </ul>
        </form>
    </div>
</div>