<div class="task-container">

    <div class="spell-menu-container">
        <h3 class="spell-menu__text">Choose your spell!</h3>
        <div class="spell-menu">
            <button class="spell-menu__spell-button" data-task="0">Math Power</button>
            <button class="spell-menu__spell-button" data-task="1">Trancelation</button>
            <button class="spell-menu__spell-button" data-task="2">Sorting Blast</button>
            <button class="spell-menu__spell-button" data-task="3">Sound Attack</button>
            <button class="spell-menu__spell-button" data-task="4">One Letter Punch</button>
            <button class="spell-menu__spell-button" data-task="5">Capital Strike</button>
            <button class="spell-menu__spell-button" data-task="6">Time Splash</button>
            <button class="spell-menu__spell-button" data-task="7">Typical Kick</button>
            <button class="spell-menu__spell-button" data-task="8">Weak Spot Attack</button>
            <button class="spell-menu__spell-button" data-task="9">Ultra Shot</button>
            <button class="spell-menu__spell-button" data-task="10">Sentence Sense</button>
            <button class="spell-menu__spell-button" data-task="11">Ascending Power</button>
            <button class="spell-menu__spell-button" data-task="12">Accurate Shot</button>
            <button class="spell-menu__spell-button" data-task="13">Atomic Divider</button>
            <button class="spell-menu__spell-button" data-task="14">Mortal Combo</button>
        </div>
    </div>

    
</div>