<!-- <app-header [selectedUser]='selectedUser'></app-header> -->
<app-header></app-header>
<div>
  <a routerLink="/main" routerLinkActive="active">main</a>
  <a routerLink="/feature" routerLinkActive="active">feature</a>
</div>

<router-outlet></router-outlet>

<!-- <app-table (selectUser)='selectUser($event)'></app-table> -->
<!-- <app-info-bar></app-info-bar>
<button class="modal-button" (click)="openModal()">Open Modal</button>
<app-modal *ngIf='isModalOpened' (closeModal)='closeModal()'></app-modal> -->

<!-- <app-react-form></app-react-form> -->
